<% @page_title = "Contents: #{@ook.id}" %>

<div>
  <h2>Table of Contents</h2>
  <%= @ook.toc_html("/book/#{@ook.id}/") %>
</div>

<% if loi = @ook.loi_html("/book/#{@ook.id}/") %>
  <div>
    <h2>List of Illustrations</h2>
    <%= loi %>
  </div>
<% end %>
