<% @page_title = "Contents: #{@ook.id}" %>

<div>
  <h2>Table of Contents</h2>
  <%= @ook.toc_html("/book/#{@ook.id}/") %>
</div>

<% if tof = @ook.tof_html("/book/#{@ook.id}/") %>
  <div>
    <h2>List of Figures</h2>
    <%= tof %>
  </div>
<% end %>
