<!DOCTYPE html>
<html>
  <head>
    <title>Publish an Ochook</title>
    <style type="text/css">
      p.warn {
        background: #C55;
        color: white;
        padding: 0.5em 1em;
      }
    </style>
  </head>
  <body>
    <h1>Publish an Ochook</h1>
    <form action="/publish" method="POST" enctype="multipart/form-data">
      <% if @ook && @ook.invalidity %>
        <p class="warn">
          <%= Rack::Utils.escape_html(@ook.invalidity.inspect) %>
        </p>
      <% end %>
      <fieldset>
        <legend>Upload a Zhook</legend>
        <p>
          <input type="file" name="file" />
        </p>
        <p>
          <select name="security">
            <option value="private">Private</option>
            <option value="public">Public</option>
          </select>
        </p>
        <p>
          <input type="submit" value="Publish" />
        </p>
      </fieldset>
    </form>
  </body>
</html>
