<!DOCTYPE html>
<html>
  <head>
    <title><%= @ook.metadata('title') %></title>
    <style type="text/css">
      img {
        position: absolute;
        border: 1px solid #222;
        max-width: 100%;
        max-height: 100%;
      }
      iframe {
        position: absolute;
        display: none;
        border: 1px solid #222;
      }
    </style>
    <script type="text/javascript">
      function read() {
        var cover = document.getElementById('cover');
        var frame = document.getElementById('reader');
        frame.style.width = cover.offsetWidth+"px";
        frame.style.height = cover.offsetHeight+"px";
        cover.style.display = "none";
        frame.style.display = "block";
      }
    </script>
  </head>
  <body>
    <img id="cover" src="/books/<%= @id %>/cover.png" onclick="read()" />
    <iframe id="reader" src="/books/<%= @id %>/index.html" />
  </body>
</html>
